body
{
    text-align: center;
    border-style : dashed;
    border-radius: 5px;
    border-width: 1px;
}

#conteneur_utilisateur
{
    background-color:cornflowerblue;
    border-radius: 5px 5px 0 0;
    display:flex;
    justify-content: space-around;
    border-bottom: 1px dashed;
}

.element_utilisateur
{
    text-align: center;
}

#conteneur_message
{
    display:flex;
    justify-content: space-between;
    background-color: darkgray;
    padding : 5px;
}

.element_message:nth-child(1)
{
    flex:1;
    text-align: center;
    border-style: solid;
    background-color: rgb(223, 247, 255);
    border-width: 1px;
}

.element_message:nth-child(2)
{
    flex:4;
    text-align:left;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(223, 247, 255);
    padding-left:30px;

}

#message
{
    width:300px;
    height:50px;
    margin : 20px;
}


#pages
{
    display:flex;
    justify-content: center;
    background-color: darkgray;
}

#div_message
{
    background-color: darkgray;
}

#div_rafraichir
{
    background-color: darkgray;
    border-radius: 0 0 5px 5px;
    padding : 10px 0 10px 0;
}